<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.chrome.devtools.autosave.launchd</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/autosave</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/usr/local/bin</string>
            <!-- FIXME: make it work when Node installed not in /usr/local/bin -->
        </dict>
        <key>StandardOutPath</key>
        <string>/var/log/autosave.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/autosave.error.log</string>
    </dict>
</plist>
